# Host configuration
PORT=3000
NODE_ENV=development

# Database configuration (PostgreSQL)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/orbital_command?schema=public"

# Cache & Message Broker (Redis)
REDIS_URL="redis://localhost:6379"

# AI engine (OpenAI)
OPENAI_API_KEY=""

# Authentication (Clerk)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
